.grid-text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px;
    max-width: 100%;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; 
    margin-bottom: 5rem; 
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.grid-section img{
    width: 15rem;
    height: 15rem;
    object-fit: cover; /* Ensures the image covers the box while maintaining its aspect ratio */
    border-radius: 5px;
}


.text-section {
    width: 50%;
  }
  
  .title {
    color: #E5404F;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .description {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    
  }

  .grid-text-container {
    flex-direction: column; /* Stack text and images on smaller screens */
    align-items: center; /* Center-align content */
  }
  
  .grid-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  }
  
  .text-section {
    text-align: center; /* Center text on smaller screens */
  }
  


